@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
	height: 100%;
	font-family: 'Montserrat', serif;
	color: #fff;
}

#main-container {
	background-color: #000;
}

/* Logo and loading container */
#container, #loading-container {
    height: 100%;
    width: 100%;
    display: table;
}

#loading-container {
	display: table;
}

#content, #loading-content {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center
} 

/* Analysis container */
#fashion-container {
	display: flex; 
	flex-direction: column; 
	border: 1px solid #c0c0c0;
	margin: 5px;
	color: #000;
}

/* Pic and score container */
#pic-score-container {
	flex:1;  
	border-bottom: 1px solid #c0c0c0; 
	display: flex; 
	flex-direction: row; 
	height: 150px; 
	padding: 10px;
}

#profile-pic {
	flex:1; 
	padding: 0
}

#profile-pic > img {
	height: 100%; 
	width: 30%; 
	max-width: 30%; 
	border-radius: 50%;
}

/* top, bottom and recommendation container */
#top-bottom-container {
	flex:1; 
	display: flex; 
	border-bottom: 1px solid #c0c0c0; 
	flex-direction: column;
}

#top-container {
	flex:1; 
	border-bottom: 1px dashed #000;
}

.section-name {
	flex:1; 
	padding: 10px; 
	font-size: 18px;
	color: #c0c0c0;
}

#top-category, #bottom-category, #recommendation-category {
	flex:1; 
	padding: 10px; 
	font-size: 24px;
}

.attibutes-container {
	flex:1; 
	display: flex; 
	flex-direction: row; 
	padding: 10px; 
	flex-wrap: wrap
}

#top-attributes, #bottom-attributes, #recommendation-attributes {
	width: 100%; 
	flex-wrap: wrap; 
	flex-direction: row; 
	display: flex;
}

.attributes {
	min-width: 20%; 
	max-width: 50%; 
	height: 3em; 
	border-radius: 500px; 
	border: 1px solid red; 
	text-align: center;
	margin: 0 1em 2em 0;
}

#bottom-container {
	flex:1; 
	display: flex; 
	flex-direction: column;
}


#count-container, #taking-photo-container{
    height: 100%;
    width: 100%;
    display: table;
    vertical-align: middle;
    margin: 0 auto;
}

#numberCircle {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 50%;
    width: 5em;
    height: 5em;
    padding: 2%;
    border: 10px solid #fff;
    font: 2em 'Montserrat', serif;
    margin: 0 auto;
    vertical-align: middle;
}

#numberCircle p {
	margin: auto;
}

#counterText{
    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
    font: 2em 'Montserrat', serif;
}

#conrow{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    text-align: center;
}

#taking-photo-content {
	display: table-caption;
    width: 36px;
    height: 36px;
    padding: 8px;
    text-align: center;
    font: 32px Arial, sans-serif;
    margin: 0 auto;
    vertical-align: middle;
}

